.arrowed_container {
    border: 1px #e0e3e7 solid;
    background-color: white;
    padding:12px;
    border-radius: 5px;
    max-width: 200px;
    height:fit-content;
}

.outer_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.left_arrow{
    border: 1px #e0e3e7 solid;
    background-color: white;
    transform: rotate(45deg) translateX(-15px);
    height:20px;
    width: 20px;
    margin-top:15px;
    border-left: 0px;
    border-bottom: 0px;
}

.right_arrow{
    border: 1px #e0e3e7 solid;
    background-color: white;
    transform: rotate(-45deg) translateX(15px);
    height: 20px;
    width: 40px;
    margin-top:15px;
    border-right: 0px;
    border-bottom: 0px;
}